<!-- YourRazorViewName.cshtml -->
@model PayspaceTax.Web.Shared.Models.TaxCalculator.TaxCalculationViewModel

@{
    ViewData["Title"] = "Tax Calculator";
}

<div class="text-center">
    <h1 class="display-4">Tax Calculator</h1>

    <div class="row justify-content-start align-items-center">
        
        @using (Html.BeginForm("Index", "TaxCalculator", FormMethod.Post))
        {
            <div class="form-group text-start mb-5">
                @Html.LabelFor(model => model.PostalCode, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>
            
            <div class="form-group text-start mb-5">
                @Html.LabelFor(model => model.AnnualIncome, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.AnnualIncome, new {min = "0", type = "number", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AnnualIncome)
            </div>
            
            <button type="submit" class="btn btn-primary mb-5">Calculate Tax</button>
        }
    </div>
    
    @if (Model.Tax != null)
    {
        <!-- Display the results -->
        <div class="row justify-content-center">
            <table class="w-25">
                <tbody>
                    <tr class="text-start">
                        <td><b>Postal Code</b></td>
                        <td>@Model.PostalCode</td>
                    </tr>
                    <tr class="text-start">
                        <td><b>Annual Income</b></td>
                        <td>@Model.AnnualIncome</td>
                    </tr>
                    <tr class="text-start">
                        <td><b>Tax Amount</b></td>
                        <td>@Model.Tax</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>